
.custom-arrow {
  z-index: 1;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 700;
  color: #058f7c;
  background-color: #fefefe; 
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  border: .15em solid #058f7c;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.custom-prev-arrow {
  left: 10px;
}

.custom-next-arrow {
  right: 10px;
}

.custom-arrow:hover {
  background-color: #058f7c;
  color: #fff;
}

.slick-dots li button:before {
  font-size: 12px;
  color: #000;
}

.slick-dots li.slick-active button:before {
  color: #f1c40f;
}

.slick-dots {
  bottom: -30px;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}
