@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback');


/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/flatpickr.css';



.anim-rot{
    animation: rot .8s infinite cubic-bezier(0, 0.5,1, 1);
}

@keyframes rot {
    0%{
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}