@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  transition: all 0.75s linear;
  overflow-x: hidden;
  max-height: 100dvh;
}
.quillText {
  padding-left: 1em;
}
.partnerAgree section h3 {
  @apply font-bold text-xl mt-10;
}
.partnerAgree section ol {
  @apply space-y-5;
}
.partnerAgree section ol li {
  @apply font-normal text-lg;
}
main a,
main a:visited {
  @apply text-custom-teal-deep no-underline hover:underline font-bold;
}
img {
  pointer-events: none;
  user-select: none;
}
.quillText blockquote {
  position: relative;
  padding: 2pt 0;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2px;
}

.quillText blockquote::before {
  content: ".";
  position: relative;
  left: -2pt;
  top: 0;
  width: 4pt;
  background: #58585899;
  color: #0000;
}

.quillText ul,
.quillText ol {
  padding-left: 40px;
}

.quillText ul {
  list-style-type: disc;
}

.quillText ol {
  list-style-type: decimal;
}

.hide-button button {
  display: none;
}

.pdfHead {
  display: none;
}

.hide-button .pdfHead {
  display: block;
}

.anim-rot {
  animation: rot 0.8s infinite cubic-bezier(0, 0.5, 1, 1);
}

.paymentSlipSuper tr td:nth-child(1) {
  font-weight: bold;
  text-align: left;
}

.paymentSlipSuper td {
  border: 1px solid teal;
  text-align: center;
  padding: 6px;
}
.custom-map-control-button {
  background-color: #e7fffa;
  border: 1pt solid #04581f;
  width: 30px;
  height: 30px;
  margin-right: 7.5px;
  border-radius: 5pt;
  position: relative;   
}
.custom-map-control-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: .75em;
  height: .75em;
  background-color: #04581f;
  border-radius: 500px;
  outline: 2px solid #04581f;
  outline-offset: 3px;
}
#locationInfo{
  /* position: absolute; */
  top: 5%;
  left: 5%;
  width: fit-content;
  height: fit-content;
  text-wrap: wrap;
}
#firstHeader {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#dist{
  margin-top: 1em;
  font-size: 1em;
  font-weight: 700;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 5pt;
  height: 5pt;
}

::-webkit-scrollbar-thumb {
  /* width: 5pt; */
  height: 5pt;
  background: #a0bdbd;
  border-radius: 50px;
}
